body{
    font-family:"Avenir Next";
    margin:0; 
}
header{
    background-color:#000041;
    color: #99CCFF;
    height:110px;
    font-size:65px;
    text-align:center;
    /* padding:30px 20px; */
    margin:0px 0px;
}
.complete{
    float: right;
    background-color:#000041;
    /* margin:40px; */
    font-size:50px;
    height:110px;
    width: 170px;
    border: solid;
    border-color: #327DC8;
    color:#327DC8;
    border-radius: 10%;
}
ul {
    margin:0;
    padding:0;
    list-style:none;
  }
.main{
    background-color:#000028;
    height:1500px;
    font-size:60px;
    margin-top:0px;
}

/* 虹色の新規作成ボタン */
.icon-plus-minus {
    position: relative;
    display: inline-block;
    margin-top:40px;
    margin-left:40px;
    width: 100px;
    height: 100px;
    transform: rotate(0);
}

  .icon-plus-minus__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000028;
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }
  .icon-plus-minus__wrapper:before {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    content: "";
    background-image: linear-gradient(-90deg, #327DC8 0%, #C800FF 100%);
    padding: 10px;
    top: -10px;
    left: -10px;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  .icon-plus-minus__inner {
    position: relative;
    width: 80px;
    height: 8px;
    content: "";
    background-image: linear-gradient(-99deg, #327DC8 0%, #C800FF 100%);
  }
  .icon-plus-minus__inner:before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    opacity: 1;
    transform: translate3d(-50%, -50%, 0);
    width: 8px;
    height: 80px;
    background-image: linear-gradient(-99deg, #327DC8 0%, #C800FF 100%);
    z-index: 2;
    transition: opacity 222ms ease 22ms;
    will-change: opacity;
  }
/* タスク新規作成 */
.task_create{
    float:right;
    margin-top: 50px;
    margin-right:350px;
    color:#327DC8;
}


/* デフォルトのラジオボタンデザインを無効化 */
.task {
    margin-top:20px;
    margin-left:50px;
    width: 700px;
    height: 150px;
    padding:0;
    font-size:60px;
    background-color: #000041;
    color:#327DC8;
    border-bottom: solid;
    border-color: #327DC8;
    color:#327DC8;
    border-radius: 10px;
}

.container1 input:hover{
    background-color: #327DC8;
    color:#000041;
    border-color:#000041;
}
.container2 input:hover{
    background-color: #327DC8;
    color:#000041;
    border-color:#000041;
}

